.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navigation {
  display: flex;
  width: 10%;
  justify-content: space-around;
  font-size: 24px;
}
