.highlight {
  border: 2px solid red;
  background-color: yellow;
}

.formDataWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formDataContainer {
  display: flex;
  justify-content: center;
}
