.password-strength-meter {
  margin-top: 10px;
  transition: all 0.5s;
}

.progress {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  border-radius: 5px;
  transition:
    width 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
}

.strength-params {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.strength-item {
  transition: color 0.5s ease-in-out;
}

.strength-params li {
  transition: color 0.5s ease-in-out;
}
