.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28%;
  height: 50px;
}

.button {
  width: 28%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.searchInput {
  width: 1500px;
  flex: 1;
  height: 35px;
  outline: none;
}

.button:hover {
  background-color: black;
  color: white;
}
